* {
  font-family: "Work Sans", sans-serif;
}

#myModal {
  display: flex;
  align-items: flex-start;
}

.modal-content {
  text-align: center;
}

.image_modal {
  animation: swal2-animate-error-icon 0.5s;
}

#label1 {
  font-size: 20px;
  margin-top: 10px;
}

.modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    width: 20%;
}

.modal-footer{
    display: flex;
    justify-content: center;
}

